<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-4">
      <div class="card pl-4 pt-4">
        <img class="profile-pic" src="{{ myInfo.avatarUrl }}" alt="" />
        <h3 class="ml-4 mt-4">{{ myInfo.name }}</h3>
        <p>{{ myInfo.bio }}</p>

        <div>
          <i class="fa fa-map-marker"></i
          ><span class="ml-3">{{ myInfo.location }}</span>
        </div>
        <div class="mt-2">
          <i class="fa fa-link"></i>
          <span class="ml-3">{{ myInfo.blog }}</span>
        </div>
        <div class="mt-2">
          <span>{{ myInfo.following }} following</span>
          <span class="ml-3">{{ myInfo.followers }} followers</span>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="card mt-4 p-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
              voluptatum! Assumenda iure explicabo facere corporis similique
              beatae ipsam nesciunt repudiandae nihil laudantium, dolorem unde
              maiores. Molestiae pariatur autem modi itaque!
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-4 p-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
              voluptatum! Assumenda iure explicabo facere corporis similique
              beatae ipsam nesciunt repudiandae nihil laudantium, dolorem unde
              maiores. Molestiae pariatur autem modi itaque!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
