<div class="container-fluid">
  <app-search-form (searchTerm)="search($event)" class="m-4"></app-search-form>
  <div class="row">
    <div class="col-md-3 mt-4" *ngIf="!inputText">
      <div class="card pl-4 pt-4">
        <img class="profile-pic" src="{{ myInfo.avatar_url }}" alt="" />
        <h3 class="ml-4 mt-4">{{ myInfo.name }}</h3>
        <p>{{ myInfo.bio }}</p>

        <div>
          <i class="fa fa-map-marker"></i
          ><span class="ml-3">{{ myInfo.location }}</span>
        </div>
        <div class="mt-2" *ngIf="myInfo.blog">
          <i class="fa fa-link"></i>
          <a href="{{ myInfo.blog }}" target="_blank">
            <span class="ml-3">{{ myInfo.blog }}</span></a
          >
        </div>
        <div class="mt-2">
          <span>{{ myInfo.following }} following</span>
          <span class="ml-3">{{ myInfo.followers }} followers</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4" *ngIf="inputText">
      <div class="card pl-4 pt-4">
        <img class="profile-pic" src="{{ updateInfo.avatar_url }}" alt="" />
        <h3 class="ml-4 mt-4">{{ updateInfo.name }}</h3>
      </div>
    </div>
    <div class="col-md-9" *ngIf="!inputText">
      <div class="row">
        <div *ngFor="let myRepo of myRepos" class="col-md-6">
          <div class="card mt-4 p-4">
            <a href="{{ myRepo.html_url }}" target="_blank">
              <h4 class="">{{ myRepo.name }}</h4></a
            >
            <p>
              {{ myRepo.description }}
            </p>
            <h6>
              Language: <span class="lang">{{ myRepo.language }}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" *ngIf="inputText">
      <div class="row">
        <div *ngFor="let updateRepo of updateRepos" class="col-md-6">
          <div class="card mt-4 p-4">
            <a href="{{ updateRepo.html_url }}" target="_blank">
              <h4 class="">{{ updateRepo.name }}</h4></a
            >
            <p>
              {{ updateRepo.description }}
            </p>
            <h6>
              Language: <span class="lang">{{ updateRepo.language }}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
